// ---------------------------------
// default config to add dark-theme to all elements in the container
// ---------------------------------

main {
    --bkg-color:  #D8DBDC;
    --main-font: #343434;
    --second-font: #797979;
    --blue-buttons: #3E68FF;
    --blue-buttons-hover: #753eff;
    --bkg-container:#BDB6B6;
    --border-color:#BDB6B6;
    --highlight-border-container:#0000002c;
    transition: 0.7s;
  }
  
  main.dark-theme {
    --bkg-color: #19181E;
    --main-font: #f0f6fc;
    --second-font: #797979;
    --blue-buttons: #3E68FF;
    --blue-buttons-hover:  #753eff;
    --bkg-container:#312F3A;
    --border-color:#161616;
    --highlight-border-container:#0000003a;
    transition: 0.7s;
  }
  
  main {
    width: 100%;
    display: flex;
    font-family: Inconsolata, Arial, Helvetica, sans-serif;
    flex-direction: column;
    background-color: var(--bkg-color);
  }
  
  div.row  {
    display: flex;
    width: 100%;
  }
  
  div.column {
    width:60%;
    display: flex;
    flex-direction: column;
  }
  
  
  section:not(.row-technologies):not(.row-qualification) {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    color: var(--main-font);
  }
  
  /* -------------------------------------------------------------------- */
  /* NAV BAR  - START */
  /* -------------------------------------------------------------------- */
  div.row-nav {
    align-items: center;
    justify-content: center;
  }
  
  nav {
    width: 70%;
    height: 80px;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  li {
    margin-right: 1%;
    display: inline;
  }
  
  ul.ul-items a {
    font-size: calc(4px + 1vw);
    text-decoration: none;
    cursor: pointer;
    color: var( --main-font);
  }
  
  ul a:hover {
    color:var(--blue-buttons)
  }
  
  img.lamp {
      width: calc(30px + 1vw);
      height: calc(30px + 1vh);
  }
  
  img.lamp:hover {
    transform: translateY(-5px);
    transition: 0.5s;
  }
  
  div.idiom-choose {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border: 3px solid var( --main-font);
    border-radius: 10px;
  
    a {
      display: flex;
      align-items: center;
      justify-content: center;
  
    img {
      height: calc(10px + 1vh);
      border-radius: 10px;
      object-position: center;
      width: 60%;
      opacity: 0.5;
    }
    img:hover
    {
      width: 68%;
      transition: 0.3s;
    }
  
    img.flag-image {
      width: 90%;
      border: 2px solid var(--main-font);
      transition: 0.2s;
      opacity: 1.0;
    }
  }
  
  }
  
  h1 {
    font-size: calc(28px + 1vw);
    color: var(--main-font);
  }
  
  /* -------------------------------------------------------------------- */
  /* NAV BAR - END */
  /* ----------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* ABOUT ME - START */
  /* -------------------------------------------------------------------- */
  
  div.column-about-me > div.title {
    height: 20%;
    margin-bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--main-font);
    justify-content: flex-start;
    
  }
  
  div.about-me {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-overflow: clip;
  }
  
  div.about-me  > p  {
    font-size: calc(8px + 1vw);
    display: flex;
    width: 60%;
  }
  
  
  div.about-me > div {
    display: flex;
    width: 40%;
    height: 100%;
    
    img {
      border-radius: 100px;
      box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.3);
      color:transparent;
      width: 200px;
      height: 200px;
    }
  }
  
  div.info-cv {
    width: 65%;
    height: 27%;
    display: flex;
    flex-direction: column;
  }
  
  div.info-cv-items {
    width: 40%;
    min-width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  div.cv-item > h1 {
    font-size: calc(12px + 1vw);
  }
  div.cv-item > p {
    font-size: calc(1px + 1vw);
    color: var(--second-font);
  }
  
  div.download-cv {
    height: 50%;
    width: 40%;
    display: flex;
    align-items: center;
  }
  
  div.download-cv  > a {
     cursor: pointer;
     background-color: var(--blue-buttons);
     color:white;
     border-radius: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50%;
     height: 60%;
     font-size: calc(2px + 0.6vw);
  }
  div.download-cv > a:hover {
    background-color: var(--blue-buttons-hover);
    transform: translateY(3px);
    transition: 0.3s;
  }
  /* -------------------------------------------------------------------- */
  /* ABOUT ME - END */
  /* -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* QUALIFICATION - START */
  /* -------------------------------------------------------------------- */
  section.row-qualification {
    width: 100%;
    height: 700px;
    display: flex;
    color: white;
    justify-content: center;
  }
  
  
  div.column-qualification {
  
  // TITLE PART //
  // ----------- //
  
    height: 100%;
    
     div.title {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 25%;
      word-wrap: normal;
      flex-wrap: wrap;
      
      div.title-info {
        display: flex;
        height: 80%;
        align-items: center;
  
        img {
          width: calc(100px + 2vw);
          height: calc(50px + 2vh);
        
        }  
      }
      p {
        color:var(--second-font);
         font-size: calc(10px + 0.5vw);
      }
    }
  
  // EXPERIENCE CONTAINER //
  // ------------------- //
  div.experiences-container {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    justify-content: center;
    
  
    div.items-experience {
        width: 30%;
        margin-right: 2.4%;
        flex-direction: column;
      }
  
      div.detail-experience {
        width: 65%;
        height: 100%;
        flex-direction: column;
        
      }
  
      div.detail-experience, div.items-experience {
        display: flex;
        height: 95%;
        background-color: var(--bkg-container);
        border-radius: 14px;
        border-bottom: 5px solid  var(--highlight-border-container);
        box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
      }
  
    }
  }
  
  
  //ITEMS EXPERIENCE 
  // ----------------------------------
  div.item-experience {
    width: 90%;
    display: flex;
    flex-direction: row;
    padding: 5% 0% 0% 5%;
    height: 25%;
    border-bottom: 4px dotted gray;
    transition: 0.6s;
    cursor: pointer;
  
    img {
      width: 20%;
      height: 30%;
    }
    div.item-experience-title {
      display: flex;
      width: 70%;
      flex-direction: column;
  
      h1 {
        font-size: calc(2px + 1vw);
        color: var(--main-font);
      }
      p {
        font-size: calc(3px + 0.5vw);
        color: var(--second-font);
        margin-top: 4px;
      }
    }
  }
  
  div.item-experience.active {
    cursor: pointer;
    border-bottom: 4px dotted var(--blue-buttons);
    
  }
  
  div.item-experience:hover {
    border-bottom: 4px dotted var(--blue-buttons-hover);
  }
  
  //DETAIL EXPERIENCE 
  // --------------------------
  
  div.detail-item {
    padding: 0px 24px 24px 24px;
    display: flex;
    
  }
  div.detail-experience-title
  {
    height: 20%;
    padding-top: 15px;
    flex-direction: column;
  
    h1 {
      font-size: calc(20px + 1vw);
      color: var(--main-font);
    }
    h3 {
      font-size: calc(4px + 1vw);
      color: var(--second-font);
    }
  }
  
  div.detail-experience-text {
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    p {
      font-size: calc(2px + 1vw);
      color: var(--main-font);
    }
  }
  
  div.detail-experience-skills {
    height: 25%;
    flex-wrap: wrap;
  
    div {
      width: 20%;
      height: 35%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      border: 4px solid #3E68FF;
      border-radius: 10px;
      margin-right: 10px;
      transition: 0.4s;
    }
    div:hover {
      background-color: #3E68FF;
    }
    img {
      width: 30%;
      height: 70%;
    }
  }
  
  /* -------------------------------------------------------------------- */
  /* QUALIFICATION - END */
  /* -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* PORTFOLIO - START */
  /* -------------------------------------------------------------------- */
  section.row-portfolio 
  {
    height: 500px;
  }
  
  div.column-portfolio > div {
    display: flex;
  }
  
  // TITLE //
  // ------------------- //
  
  div > div.title {
    text-align: center;
    height:20%;
    justify-content: center;
  }
  
  // PORTFOLIO CONTAINER //
  // ------------------- //
  
  div.portfolio-container {
    height: 64%;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction:row;
  }
  
  div.portfolio-container > div {
    display: flex;
  }
  
  div.portfolio-items {
    width: 60%;
    margin: 1%;
    height: 90%;
    box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
    animation-name: fade;
    animation-duration: 1.5s;
  
    //move a little the portfolio box
    @keyframes fade {
      from {
        opacity: .4;
        transform: translateX(4px);
      } 
      to {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  
   div.image{
       display: flex;
       width: 50%;
       align-items: center;
       justify-content: center;
       color: transparent; 
  
       img {
        width: 75%;
        height: 65%;
        border-radius: 10px;
       }
    }
   
   div.info {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
   
    div  {
      display: flex;
    }
    div.portfolio-title {
      height: 30%;
      align-items: flex-end;
    }
    div.portfolio-subtitle {
      height: 15%;
      align-items: center;
    }
    div.portfolio-more-information {
      height: 50%;
      width: 100%;
      align-items: center;
  
      a {
        text-align: center;
        padding: 4%;
        background-color: var(--blue-buttons);
        border-radius: 10px;
        color: rgb(247, 247, 247);
        text-decoration: none;
      } 
      a:hover {
        transform: translateY(-4px);
        transition: 0.3s;
        background-color: var(--blue-buttons-hover);
      }
    }
  
    h1 {
      color: var(--main-font);
      font-size: calc(10px + 1vw);
    }
    p {
      color: var(--second-font);
    }
   }
  }
  
  .hide-portfolio {
    display:none !important;
  }
  
  
  
  // PORTFOLIO ARROWS //
  // ------------------- //
  
  div.portfolio-items-arrow {
    width: 15%;
    height: 40%;
    align-items: center;
    display: flex;
    cursor: pointer;
  
    div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .arrow {
        border: solid var(--blue-buttons);
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        color: transparent; 
      }
      .arrow:hover {
        border: solid var(--blue-buttons-hover);
        border-width: 0 8px 8px 0;
      }
  
      .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      
      .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }
  
  }
  
  div.selected-portfolio-items {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10%;
  }
  div.selected-portfolio-items > ul {
    display: flex;
    width: 50%;
    flex-direction: row;
  }
  div.selected-portfolio-items > ul > li {
    width: 4%;
    color: transparent;
    cursor: pointer;
    margin-right: 2%;
    height: 40%;
    background-color: var(--border-color);
    border-radius: 20px;
    box-shadow:  0 3px 7px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
    transition:  background-color 0.5s;
  }
  div.selected-portfolio-items > ul > li:hover {
    background-color: var(--blue-buttons-hover);
  }
  
  
  /* -------------------------------------------------------------------- */
  /* PORTFOLIO - END */
  /* -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* TECHNOLOGIES - START */
  /* -------------------------------------------------------------------- */
  
  
  // SELECT ITEMS //
  // ------------------- //
  
  section.row-technologies {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--main-font);
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  
  .column-technologies  > div.title {
    height: 80px;
  }
  div.select-box {
    width: 100%;
    //height: 15%;
    height: 130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  
    select {
      width: 45%;
      height: 66%;
      border-radius: 14px;
      background-color: var(--bkg-container);
      color: var(--main-font);
      text-align: center;
      border: 1px solid white;
      font-size: 160%;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    }
  
    select:focus {
      outline: none;
      border: 1px solid var(--blue-buttons);
    }
  }
  
  
  // SKILLS-ITEMS //
  // ------------------- //
  div.skills-items {
    display: flex;
    width: 100%;
    //height: 60%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
  
    .skill-item {
      display: flex;
      width: 34%;
      box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
     // height: 20%;
      height: 80px;
      margin-bottom: 10px;
      margin-right: 5%;
      justify-content: center;
      align-items: center;
      background-color: var(--bkg-container);
      border-radius: 10px;
  
      animation-name: fade;
      animation-duration: 1.5s;
    
      //move a little the portfolio box
      @keyframes fade {
        from {
          opacity: .4;
          transform: translateY(-4px);
        } 
        to {
          opacity: 1;
          transform: translateY(0px);
        } 
      }
     
      img {
        width: 20%;
        height: 70%;
        justify-self: flex-start;
      } 
      p {
        width: 40%;
        text-align: center;
        font-size: calc(8px + 1vw);
        font-weight: bold;
        text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
      }
    }
  }
  
  /* -------------------------------------------------------------------- */
  /* TECHNOLOGIES - END */
  /* -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* CONTACT - START */
  /* -------------------------------------------------------------------- */
  
  
  section.row-contact { 
    height: 600px;
  }
  
  div.contact-container {
    display: flex;
    height: 70%;
    flex-direction: row;
    justify-content: center;
  
  
  // SOCIAL MEDIA //
  // ------------------- //
  
    div.social-medias {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  
      div.social-media-box {
        display: flex;
        width: 100%;
        height: 30%;
        background-color:  var(--bkg-container);
        margin-bottom: 3%;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
  
        h1 {
          font-size: calc(8px + 1vw);
          color:var(--main-font);
          font-weight: bold;
        }
      }
  
      .social-media-title {
        width: 100%;
        display: flex;
        height: 40%;
        align-items: center;
        justify-content: center;
      }
  
      .social-media-links {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
  
        div {
          width: 8%;
          margin-right: 5%;
          height: 65%;
          display: flex;
          border: 4px solid var(--blue-buttons);
          padding: 5px;
          cursor: pointer;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          
          img {
            width: 85%;
            height: 80%;
          }
        }
  
        div:hover {
          background-color: var(--blue-buttons);
          transition: 0.4s;
          }
      }
  
      // CONTACT ITEM - INFO //
  // ------------------- //
      div.contact-item {
        display: flex;
        align-items: center;
        justify-content: center;
  
         div.contact-item-info {
          width: 90%;
          height: 50%;
          flex-direction: row;
          justify-content: flex-start;
          align-items:center;
          display: flex;
  
          div {
            display: flex;
            width: 10%;
            height: 70%;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border: 4px solid var(--blue-buttons);
            flex-wrap: wrap;
            border-radius: 10px;
  
            img {
              width: 60%;
            }
          }
          
          p {
            margin-left: 4%;
            width: 80%;
            font-size: calc(4px + 1vw);
            word-wrap: break-word;
            }
  
          div:hover {
            background-color: var(--blue-buttons);
            transition: 0.4s;
            } 
         }  
      }
    }
  
  }
  
  // FORM SEND - MESSAGE //
  // ------------------- //
  .form-group-send-message {
    display: flex;
    flex-direction: column;
  
    input {
      height: 50%;
    }
    input:focus, textarea:focus {
      outline: none;
    }
    input::placeholder, textarea::placeholder {
      color: var(--second-font);
    }
    input, textarea {
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      background-color:var(--bkg-container);
      border: none;
      resize: none;
      font-size: calc(3px + 1vw);
      color: var(--main-font);
      box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
    }
  
      textarea::-webkit-scrollbar {
        width: 1em; //width of the scrollbar
      }
  
      textarea::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); //shadow behind the scrollbar
      }
  
      textarea::-webkit-scrollbar-thumb {
      background-color: var(--second-font); //scrollbar item to roll up and down
      outline: 1px solid rgb(212, 227, 242);
      }
  
  }
  
  .form-group-send-message > div {
    display: flex;
    width: 100%;
    margin-bottom: 3%;
  }
  
  .send-message-text {
    height: 40%;
  }
  
  .send-message-name, .send-message-button{
    height: 20%;
  
    button {
      width: 27%;
      height: 60%;
      border: 0px;
      color: #FFFFFF;
      background-color: #32BC59;
      cursor: pointer;
      border-radius: 10px;
      font-size: calc(3px + 1vw);
      text-align: center;
      font-weight: bold;
      box-shadow:  0 6px 11px 0 rgba(0, 0, 0, 0.3); //shadow behind the scrollbar
  
      img {
        width: 15%;
      }
     }
     button:hover {
      background-color: #396961;
      transition: 0.4s;
     }
  }
  
  div.contact-container > div {
    display: flex;
    width: 45%;
    height: 95%;
    margin-right: 3%;
    
  }
  
  /* -------------------------------------------------------------------- */
  /* CONTACT-ME - END */
  /* -------------------------------------------------------------------- */
  /* --------------------------------------------------------------------------------------------- */
  /* -------------------------------------------------------------------- */
  /* FOOTER - START */
  /* -------------------------------------------------------------------- */
  footer {
    height: 240px;
    background-color: #15171E;
  }
  
  div.footer-nav {
    display: flex;
    width: 100%;
    height: 30%;
    color: white;
    align-items: center;
    justify-content: center;
  
    a {
      font-size: calc(7px + 1vw);
      text-decoration: none;
      color: white;
    }
    a:hover {
      color:  #3E68FF;
    }
    li {
      margin-right: 2%;
    }
  }
  
  div.arrow-roll-up {
    display: flex;
    width: 90%;
    height: 30%;
    justify-content: flex-end;
    align-items: center;
   
    div {
      margin-right: 5%;
      width: 4%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #3E68FF;
      border-radius: 10px;
    }
    a {
      cursor: pointer;
      text-align: center;
  
      img {
        width: 40%;
        height: 40%;
      }
    }
  
    div:hover {
      background-color:#753eff;
      transition: 0.4s;
      transform: translateY(-10px);
    }
  
  
  }
  
  
  div.footer-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 40%;
    color: white;
    font-size: calc(3.5px + 1vw);
  }