<main class="container" id="container" #container>
    <div class="row row-nav">
        <nav>
            <ul class="ul-items" #ulitems>
                <li class="home"> <a href="#" style="color:#3E68FF;">{{'navBar.Home' | translate}}</a></li>
                <li class="qualification"> <a href="#qualification">{{'navBar.Qualification' | translate}}</a></li>
                <li class="portfolio"> <a href="#portfolio">{{'navBar.Portfolio' | translate}}</a></li>
                <li class="skills"> <a href="#skills">{{'navBar.Skills' | translate}}</a></li>
                <li class="contact"> <a href="#contact">{{'navBar.Contact' | translate}}</a></li>
                <li > <a href="#" (click)="toggleTheme()"> <img class="lamp" [src]="'assets/images/lamp-' + lampColor + '.svg'"/></a></li>
                <li class="idiom-choose"><div class="idiom-choose">
                    <a (click)="toggleIdiom()"><img id="image-brazil" src="assets/images/brazil.jpg"/></a>
                    <a (click)="toggleIdiom()"><img id="image-usa" class="flag-image" src="assets/images/usa.jpg"/></a>
                </div></li>
              </ul>
        </nav>
    </div>

    <section class="row row-about-me">
       <div class="column column-about-me">
        <div class="title">
            <h1>{{'about-me.title' | translate}}</h1>
        </div>
        <div class="about-me">
            <p>{{'about-me.info' | translate}}</p>
                <img class="myself" src="../assets/images/lamp-dark.svg"/>
        </div>
        <div class="info-cv">
                <div class="info-cv-items">
                    <div class="cv-item">
                        <h1>1+</h1>
                        <p>{{'about-me.cv-item.years' | translate}}<br/>{{'about-me.cv-item.experience' | translate}}</p>
                    </div>
                    <div class="cv-item">
                        <h1>30+</h1> 
                        <p>{{'about-me.cv-item.completed' | translate}}<br/>{{'about-me.cv-item.projects' | translate}}</p>
                    </div>
                </div>
                <div class="download-cv">
                    <a>Download CV</a>
                </div>
          </div>
      </div>
    </section>

    <section class="row row-qualification">
        <div class="column column-qualification">
                <div class="title">
                    <div class="title-info">
                        <h1>{{'qualification.title' | translate}}</h1>
                        <img src="../assets/images/qualification-icon.svg"/>
                    </div>
                    <p>{{'qualification.subtitle' | translate}}</p>
                </div>

                <div class="experiences-container">
                    <div class="items-experience">

                    </div>
                    <div class="detail-experience">

                    </div>
                </div>
        </div>
    </section>
    
    <section class="row row-portfolio">
        <div class="column column-portfolio">
            <div class="title">
                <div class="title-info">
                    <h1>{{'portfolio.title' | translate}}</h1>
                </div>
            </div>

            <div class="portfolio-container">
                <div class="portfolio-items-arrow left">
                    <div>
                    <i class="arrow left"></i>
                </div>
                </div>
                <div class="portfolio-items" *ngFor="let portfolio of portfolios">
                    <div class="portfolio-item image">
                        <img  [src]="portfolio.src"/>
                    </div>
                    <div class="portfolio-item info" >
                        <div class="portfolio-title">
                            <h1>{{portfolio.title}}</h1>
                        </div>
                        <div class="portfolio-subtitle">
                            <p>{{portfolio.subtitle}}</p>
                        </div>
                        <div class="portfolio-more-information">
                            <a [href]="portfolio.href">+ Information</a>
                        </div>
                    </div>
                </div>
                <div class="portfolio-items-arrow right">
                    <div>
                    <i class="arrow right"></i>
                  </div>
                </div>
            </div>
            
        <div class="selected-portfolio-items">
            <ul class="selected-portfolio">
                <li></li>
                <li></li>
                <li></li>
            </ul>
         </div> 
     </div>
    </section>

    <section  class="row row-technologies">
      <div class="column column-technologies">
        <div class="title">
            <div class="title-info">
                <h1>{{'technologies.title' | translate}}</h1>
            </div>
        </div>
        </div>
    </section>

    <section class="row row-contact">
      <div class="column column-contactt">
        <div class="title">
            <div class="title-info">
                <h1>{{'contact.title' | translate}}</h1>
            </div>
        </div>
        <div class="contact-container">
            <div class="social-medias">
                <div class="social-media-box">
                    <div class="social-media-title">
                        <h1>{{'contact.social-media.title' | translate}}</h1>
                    </div>
                    <div class="social-media-links">
                        <div><img src="../assets/images/contact/icon-linkedin.svg" alt="linkedIn Icon" /></div>
                        <div><img src="../assets/images/contact/icon-github.svg" alt="Github Icon"/></div>
                        <div><img src="../assets/images/contact/icon-whatsapp.svg" alt="Whatsapp Icon" /></div>
                    </div>
                </div>

                <div class="social-media-box contact-item">
                    <div class="social-media-title">
                        <h1>{{'contact.social-media.e-mail' | translate}}</h1>
                    </div>
                    <div class="contact-item-info">
                        <div class="contact-info-image"><img src="../assets/images/contact/arroba.png" alt="Icon Arroba"/></div>
                        <p>lewiscontato99@gmail.com</p>
                    </div>
                </div>

                <div class="social-media-box contact-item">
                    <div class="social-media-title">
                        <h1>{{'contact.social-media.cel-phone' | translate}}</h1>
                    </div>
                    <div class="contact-item-info">
                        <div  class="contact-info-image"><img  src="../assets/images/contact/icon-whatsapp.svg" alt="Icon Whatsapp" /></div>
                        <p>+55 31 99114-3417</p> 
                    </div>
                </div>
            </div>

            <div class="form-group-send-message">
                <div class="send-message-name">
                    <input type="text"  placeholder="{{'contact.form-send-message.name'| translate}}"/>
                </div>
                <div class="send-message-text">
                    <textarea    placeholder="{{'contact.form-send-message.message'| translate}}"></textarea>
                </div>
                <div class="send-message-button">
                    <button><img src="../assets/images/contact/icon-whatsapp.svg"  alt="Icon whatsapp"/> {{"contact.form-send-message.send" | translate}}</button>
                </div>
            </div>

         </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer-nav">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>
    </div>
    <div class="arrow-roll-up"><div><a><img src="../assets/images/arrow-up.svg" alt="arrow up"/></a></div></div>
    <div class="footer-info"><p>© Lewis Solution. All right reserved.</p></div>
</footer>
<router-outlet></router-outlet>