<div class="container">
    <div class="row row-nav">
        <nav>
            <ul class="home-items">
                <li class="home"> <a href="#" style="color:#3E68FF;">Home</a></li>
                <li class="qualification"> <a href="#qualification">Qualification</a></li>
                <li class="portfolio"> <a href="#portfolio">Portfolio</a></li>
                <li class="skills"> <a href="#skills">Skills</a></li>
                <li class="contact"> <a href="#contact">Contact</a></li>
                <li class="contact"> <a href="#contact" (click)="changeTheme()">Lamp</a></li>
                <li class="contact"> <a href="#contact">Idiom</a></li>
              </ul>
        </nav>
    </div>
</div>