<div class="container" id="container" #container>
    <div class="row row-nav">
        <nav>
            <ul class="ul-items" #ulitems>
                <li class="home"> <a href="#" style="color:#3E68FF;">{{'navBar.Home' | translate}}</a></li>
                <li class="qualification"> <a href="#qualification">{{'navBar.Qualification' | translate}}</a></li>
                <li class="portfolio"> <a href="#portfolio">{{'navBar.Portfolio' | translate}}</a></li>
                <li class="skills"> <a href="#skills">{{'navBar.Skills' | translate}}</a></li>
                <li class="contact"> <a href="#contact">{{'navBar.Contact' | translate}}</a></li>
                <li > <a href="#" (click)="toggleTheme()"> <img class="lamp" [src]="'assets/images/lamp-' + lampColor + '.svg'"/></a></li>
                <li class="idiom-choose"><div class="idiom-choose">
                    <a (click)="toggleIdiom()"><img id="image-brazil" src="assets/images/brazil.jpg"/></a>
                    <a (click)="toggleIdiom()"><img id="image-usa" class="flag-image" src="assets/images/usa.jpg"/></a>
                </div></li>
              </ul>
        </nav>
    </div>

    <section class="row row-about-me">
       <div class="column column-about-me">
        <div class="title">
            <h1>{{'about-me.title' | translate}}</h1>
        </div>
        <div class="about-me">
            <p>{{'about-me.info' | translate}}</p>
                <img class="myself" src="../assets/images/lamp-dark.svg"/>
        </div>
        <div class="info-cv">
                <div class="info-cv-items">
                    <div class="cv-item">
                        <h1>1+</h1>
                        <p>{{'about-me.cv-item.years' | translate}}<br/>{{'about-me.cv-item.experience' | translate}}</p>
                    </div>
                    <div class="cv-item">
                        <h1>30+</h1> 
                        <p>{{'about-me.cv-item.completed' | translate}}<br/>{{'about-me.cv-item.projects' | translate}}</p>
                    </div>
                </div>
                <div class="download-cv">
                    <a>Download CV</a>
                </div>
          </div>
      </div>
    </section>
    <section class="row row-qualification">
        <div class="column column-qualification">
                <div class="title">
                    <div class="title-info">
                        <h1>{{'qualification.title' | translate}}</h1>
                        <img src="../assets/images/lamp-dark.svg"/>
                    </div>
                    <p>{{'qualification.subtitle' | translate}}</p>
                </div>

                <div class="experiences-container">
                    <div class="items-experience">

                    </div>
                    <div class="detail-experience">

                    </div>
                </div>
        </div>
    </section>
    <section class="row row-portfolio">
        <div class="column column-portfolio">
            <div class="title">
                <div class="title-info">
                    <h1>{{'qualification.title' | translate}}</h1>
                </div>
                <div>
                    
                </div>
            </div>
        </div>
    </section>
</div>
<router-outlet></router-outlet>