<main class="container" id="container" #container>
    <div class="row row-nav" id="nav">
        <nav>
            <ul class="ul-items" #ulitems>
                <li class="home"> <a href="#about" style="color:#3E68FF;">{{'navBar.Home' | translate}}</a></li>
                <li class="qualification"> <a href="#qualification">{{'navBar.Qualification' | translate}}</a></li>
                <li class="portfolio"> <a href="#portfolio">{{'navBar.Portfolio' | translate}}</a></li>
                <li class="skills"> <a href="#skills">{{'navBar.Skills' | translate}}</a></li>
                <li class="contact"> <a href="#contact">{{'navBar.Contact' | translate}}</a></li>
               <li > <a  (click)="toggleTheme()"> <img class="lamp" [src]="'assets/images/lamp-' + lampColor + '.svg'"/></a></li> 
             </ul>
              <div>
                <h1>Microservices Gym Dashboard</h1>
              </div>
        </nav>
    </div>
    <section>
        <div class="portfolio-overview">
            <div class="portfolio-overview-title">
                <h1>Overview</h1>
            </div>
            <div class="portfolio-overview-text">
                <p>This Freelancer project for a local gym where you can manage clients
                    and users where you can easily change users' debt status as well as plan category.
                    My expertise in creating a secure infrastructure with JWT, scale microservices
                    and apply TDD with unit and integration testing ensure the system is robust and reliable.</p>
                    <div class="portfolio-overview-links">
                    <a class="portfolio-link"><img alt="icon-github" src="../../assets/images/portfolio/detail/icon-github.svg"/> Github</a>
                    <a class="portfolio-link"><img  alt="icon-rocket" src="../../assets/images/portfolio/detail/icon-rocket.svg"/>Site</a>
                    <a routerLink="..">Back</a>
                </div>
            </div>
        
            <div class="portfolio-overview-video">
                <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
        </div>
        <div class="portfolio-skills">
            <div class="portfolio-skills-items">
                <h2>Technologies</h2>
                <div class="item item-top"><i></i>Spring Boot</div>
                <div class="item"><i></i>Spring Cloud</div>
                <div class="item"><i></i>Hateoas</div>
                <div class="item"><i></i>Docker</div>
                <div class="item"><i></i>PostgreSQL</div>
            </div>
        </div>
    </section>
</main>
