
/* -------------------------------------------------------------------- */
/*  RESPONSIVE - TV ETC - START */
/* -------------------------------------------------------------------- */

@media only screen and (min-height: 1000px) and (max-height: 1200px)  and (min-width:1200px){
  section {
    flex-direction: row;
    min-height: 1000px;
    max-height: 1200px;
}
}

@media only screen and (min-height: 1200px) and (max-height: 1500px)  and (min-width:1200px){
  section {
    flex-direction: row;
    min-height: 1200px;
    max-height: 1500px;
}
}


@media only screen and (min-height: 1500px) and (max-height: 1800px)  and (min-width:1500px){
  section {
    flex-direction: row;
    min-height: 1500px;
    max-height: 1800px;
}
}


@media only screen and (min-height: 1800px) and (max-height: 2000px)  and (min-width:1500px){
  section {
    flex-direction: row;
    min-height: 1800px;
    max-height: 2000px;
  }

  div.portfolio-overview-text {
    height: 30%;
    flex-direction: column;
    p {
      font-size: 30.5px;
    }
  }
}


@media only screen and (min-height: 2000px) and (max-height: 3000px)  and (min-width:1500px) {
  section {
    flex-direction: row;
     min-height: 3000px;
     max-height: 4000px;

  }

  div.portfolio-overview-text {
    height: 30%;
    flex-direction: column;
    p {
      font-size: 30.5px;
    }
  }
}


@media only screen and (min-height: 3000px) and (max-height: 4000px)  and (min-width:2500px) {
  section {
    flex-direction: row;
     min-height: 3500px;
     max-height: 5000px;

  }

  div.portfolio-overview-text {
    height: 30%;
    flex-direction: column;
    p {
      font-size: 30.5px;
    }
  }
}